<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%# <p>You got a new order from <%= @user.email %> 
    <p>
    Order details<br>
    --------------------------
    </p>
   
     <% discount = 0, total = 0, subtotal=0 %>
     <% @order_item.each do |item|  %>
     <% product = Product.find_by_id(item.product_id)%>
        <p> <b><%= product.name %></b> <a style="margin-left:80px" > <%= item.unit_price %> RON</a></p> 
        <p style = "margin-left:50px">  x <%= item.quantity %> <a style="margin-left:80px" > <%= item.total %> RON</a> </p>
        <%total =  item.order.total %>  
        <% if item.order.discount.nil? %>
        <%else%>
            <% discount =  item.order.discount.name %>
        <%end%>
      <% subtotal=item.order.subtotal %>
    <% end %>
    
    
   <%if discount==[0,0,0]  %>
      Total to pay <%= subtotal%> RON
    <%else%>
     <p><b> SUBTOTAL: <a style="margin-left:80px" > <%= subtotal%> RON </a></b> </p>
     <p> Discount : <a style="margin-left:80px" >   <%= discount%>  </a></p>
      <p><b> TOTAL TO PAY: <a style="margin-left:50px"> <%= total %> RON</a></b></p>
    <% end %>
    </p>
    
  </body>
</html>