<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%# <p>You got a new order from <%= @user.email %> 
    <p>
    Order details<br>
    --------------------------
    </p>
   
     <%total = 0%>
     <%subtotal = 0%>
     <% price = 0%>
     <%discount = 0%>
     <% @order_item.each do |item|  %>
     <% product = Product.find_by_id(item.product_id)%>
        <p>Name: <b><%= product.name %></b> </p>
        <p>Price:<%= item.unit_price %> </p>
        <p>Quantity:<%= item.quantity %> </p>
        <p>Total price per product:<%= price = item.quantity * item.unit_price %> </p>
        <% total = total + price %>
       
       <p> Discount from order : <%= item.order.discount.name %> </p>
    <% end %>
       
    <%# <% byebug %>
    <b> Total to pay <%= total%> </b> 
    <p>
    <%# Message:<br>
    ---------- %>
    </p>
    
  </body>
</html>