<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%# <p>You got a new order from <%= @user.email %> 
    <p>
    Order details<br>
    --------------------------
    </p>
   
     <% discount = 0, total = 0, subtotal=0 %>
     <% @order_item.each do |item|  %>
     <% product = Product.find_by_id(item.product_id)%>
        <p>Name: <b><%= product.name %></b> </p>
        <p>Price:<%= item.unit_price %> </p>
        <p>Quantity:<%= item.quantity %> </p>
        <p>Total price per product:<%=  item.total %> RON </p>
        <%total =  item.order.total %>  
        <% if item.order.discount.nil? %>
        <%else%>
            <% discount =  item.order.discount.name %>
            <%end%>
      <% subtotal=item.order.subtotal %>
    <% end %>
    
    
   <%if discount==[0,0,0]  %>
    Total to pay <%= subtotal%> RON
    
    
    <%else%>
      Total to pay <%= subtotal%> RON
      Discount : <%= discount%>
    Total to pay <%= total %> RON
    <% end %>
    </p>
    
  </body>
</html>