<%= stylesheet_link_tag "style"%>
   <body style="background: -webkit-linear-gradient(left, #52b788, #d8f3dc);">
    
      <div class= "container" >
      <%# <p id="notice"><%= notice %></p>
      <h1 class="display-1" style="text-align:center;">Fresh products </h1>
      <article>
         <div class="row row-cols-1 row-cols-md-3 g-6" style="text-align:center; " >
            <% @products.each do |f| %>
            <div class="col-4-lg">
               <div class="card " style="width:18rem;">
                  <%= link_to product_path(f),  style: 'color:#FFFFFF;'   do %>
                  <%# <img src="" class="card-img-top" > %>
                  <%# <%= image_tag("apple.png", :class => "card-img-top") %> 
                  <%# <%= image_tag(f.image, :class => "card-img-top") %> 
                  <% if f.image.attached?%>
                  <%= image_tag(f.image, :class => "card-img-top")%>
                  <%else %>
                  <%= image_tag("fresh.jpg", :class => "card-img-top") %>
                  
                  <% end %>
                  <div class="card-body" >
                     <h5 class="card-title" >
                        <p> <%= f.name %>  
                     </h5>
                     <p class="card-text" >  <br />  Price  <%= f.price %> RON</p>
                     </p>       
                     </p>
                     <%# <%= link_to 'Show', shop_path(f) %> 
                     <%# <a href="/products/:id" class="btn btn-primary">Go somewhere</a> %>
                     <%# <%= form_for @order_item, remote: true do |a|%>
                     <%# <%= a.hidden_field :product_id, :value => f.id %> 
                     <%# <%= a.number_field :quantity, :value =>1, :min => 1%> 
                     <%# <%= a.submit "Add"%>  
                     <%# <% end   %> 
                     <% end %>
                  </div>
               </div>
               <br />
            </div>
            <% end %>
         </div>
      </article>
      <script>
         function myFunction() {
           var x = document.getElementById("myTopnav");
           if (x.className === "topnav") {
             x.className += " responsive";
           } else {
             x.className = "topnav";
           }
         }
      </script>
