<%= stylesheet_link_tag "form"%>
<body style="background: -webkit-linear-gradient(left, #52b788, #d8f3dc);">

<div class="register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://cdn.picpng.com/tree/transparency-tree-25046.png" alt=""/>
         <h3>Fresh products</h3>
         <p>In this section, you can add a new product!</p>
        
      </div>
      <div class="col-md-9 register-right">
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <h3 class="register-heading">New product</h3>
               <div class="row register-form">
                  
                  <%= form_with url: "/products", method: :post,  model: @product, html: {class: "row g-3 needs-validation ", novalidate:true}  do |form| %>
            <div class="row justify-content-md-center">
            
                <div class="col-md-4">
                      <%= form.label :name%>
                      <%= form.text_field(:name, :class => "form-control", required: true)  %>
                          <div class="invalid-feedback">
                              Please enter a name.
                          </div>
                </div>
                <div class="col-md-4">
                      <%= form.label :bar_code%> 
                      <%= form.text_field(:bar_code, :class => "form-control", required: true)%> 
                          <div class="invalid-feedback">
                              Please enter a bar code.
                          </div>
                    </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-4">
                        <%= form.label :price%>
                          <div class="input-group has-validation">
                                <%= form.text_field(:price, :class => "form-control", required: true)%> 
                                    <span class="input-group-text" >RON</span>
                                        <div class="invalid-feedback">
                                              Please enter a price.
                                        </div>
                              </div>
                    </div>
            
                    <div class="col-md-4">
                            <%= form.label :image%>
                            <%= form.file_field(image_tag(:image), :class => "form-control")%> 
                            <%byebug%>
                      </div> 
                </div>
            
            <div class="row justify-content-md-center">
                  <div class="col-md-8">
                      <%= form.label :description%> 
                      <%= form.text_area(:description, :class => "form-control", required: true)%> 
                </div> 
          
                  <div class="form-group" align="center" style="color: 52b788; margin-top: 20px;">
                      <%= form.submit(:class => "btn btn-success")%>
                  </div>
            </div>
          <% end %>  
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
