<h1> New Product </h1>

<%= form_with model: @product do |form| %>
    <div>
        <%= form.label :name%><br>
        <%= form.text_field :name%>
        <% @product.errors.full_messages_for(:name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>

     <div>
        <%= form.label :bar_code%> <br>
        <%= form.text_area :bar_code%> 
        <% @product.errors.full_messages_for(:bar_code).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div> 

    <div>
        <%= form.label :price%> <br>
        <%= form.text_area :price%> 
        <% @product.errors.full_messages_for(:price).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>

    <div>
        <%= form.label :image%> <br>
        <%= form.text_area :image%> 
        <% @product.errors.full_messages_for(:image).each do |message| %>
            <div> <%= message %> </div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>   